html {
    background-color: #1B2537;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}
  
body {
    margin: 0 auto !important;
    line-height: inherit;
    justify-items: center;
    max-width: fit-content;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0 auto;
}


@media screen and (min-width: 636px) {
    .nav-links {
        display: flex;
        justify-content: center;
        position: static;
        width: auto;
        background: none;
    }

    .hamburger {
        display: none;
    }
}