---
import ParallaxImg from "../components/ParallaxImg.astro";
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="Home">
    <p>Content goes here.</p>
    <ParallaxImg/>
</BaseLayout>
