---
const { title, description } = Astro.props;

const classTitle = title.toLowerCase();
---

<div class={classTitle}>
    <h2 class="text-4xl p-3 thin tracking-wide text-center"> {title} </h2>
    <p class="text-base p-3 tracking-wide text-center"> {description} </p>
</div>
