---
import icon from "../assets/profile_icon.png"
---


<div class="header flex">
    <a href="/"><img class="profile_icon m-1" src={icon} alt="Drawn profile picture" ></a>
    
    <div class="flex flex-col">
        <h1 class="myName text-5xl p-4" > Noel Sigafoos </h1>
        <nav class="nav-links">
            <a class="p-4" href="/">Home</a>
            <a class="p-4" href="/portfolio/">Portfolio</a>
            <a class="p-4" href="/contact/">About/Contact</a>
        </nav>
    </div>

</div>

<style>
    .header {
        position: static;
        height: auto;
        width: 100%;
        min-height: auto;
    }

    .profile_icon {
        width: 150px;
        height: 150px;
        overflow: clip;
        background: transparent;
        object-fit: cover;
        display: inline-block;
        border-radius: 50%;
    }

    .myName{
        vertical-align: baseline;
    }

    .nav-links {
        width: 100%;
        top: 5rem;
        margin: 0;
    }

    .nav-links a {
        text-align: center;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
    }

    .nav-links a:hover, a:focus {
        color: #ad94d1;
    }
 
</style>


