---
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    color: white;
    background-color: #4c1d95;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: var(--corvid-border-radius,var(100px,0));
  }
</style>