---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import HelloAlert from "../components/HelloAlert.astro"
import '../styles/global.css';
const {title: pageTitle} = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        
        <Header/>

        <HelloAlert>
            <h1>{pageTitle}</h1>
        </HelloAlert>

        <slot/>

        <Footer/>

        <!-- Switch between the normal header navigation and a hamburger menu -->
        <script>
            document.querySelector('.hamburger').addEventListener('click', () => {
              document.querySelector('.nav-links').classList.toggle('expanded');
            });
        </script>
	</body>
</html>