---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Portfolio">
    <ul>
        <li><a href="/portfolio/project-1/">First Project</a></li>
        <li><a href="/portfolio/project-2/">Second Project</a></li>
        <li><a href="/portfolio/project-3/">Third Project</a></li>
    </ul>
</BaseLayout>