---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Portfolio">
    <ul>
        <li><a href="/portfolio/first/">First Project</a></li>
        <li><a href="/portfolio/second/">Second Project</a></li>
        <li><a href="/portfolio/third/">Third Project</a></li>
    </ul>
</BaseLayout>